p
label(for='title') Title
input(id='title' name='title' type='text' value=book.title)
p
label(for='author') Author
input(id='author' name='author' type='text' value=book.author)
p
label(for='genre') Genre
input(id='genre' name='genre' type='text' value=book.genre)
p
label(for='year') Year
input(id='year' name='year' type='text' value=book.year)